.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 86vh;
    grid-auto-rows: 300px;
    gap: 5px 5px;
    overflow-y: scroll;
    padding: 5px;
}

.pagination-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination-wrapper .active {
    height: auto;
}